@import url('https://rsms.me/inter/inter.css'); /* Inter */
@import url("https://use.typekit.net/mlp1sry.css"); /* EB Garamond */

/*------------------------- Variables ------------------------*/

:root {
    --font-main: "Inter var", system-ui, ui-sans-serif, sans-serif;
    --font-alt: "eb-garamond", ui-serif, serif;
    --font-mono: ui-monospace, monospace;
    --font-size-s: 0.875rem; /* 14px */
    --font-size-m: 1.125rem; /* 18px */
    --font-size-l: 1.5rem;   /* 24px */

    --unit-1x: 1.5rem; /* 24px */
    --unit-2x: 3rem;   /* 48px */
    --unit-4x: 6rem;   /* 96px */
    
    --line-length: 37.5rem;  /* 600px */

    --color-hi:  hsl(0,0%,88%);
    --color-mid: hsl(0,0%,44%);
    --color-low: hsl(0,0%,22%);
    --color-bg:  black;
}

/*------------------------ Foundations -----------------------*/

* {
    margin: 0;
    padding: 0;
    min-height: 0vw; /* Safari resize fix */
    box-sizing: border-box;
    font-feature-settings: "kern" 1,"liga" 1,"onum" 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: var(--font-main); /* Inter */
    line-height: var(--unit-1x);
    color: var(--color-hi);
    background-color: var(--color-bg);
    margin: clamp(48px, 5vw, 96px) clamp(16px, 5vw, 32px); /* 48–96px top & bottom, 16–32px left & right */
}

/*------------------------ Text styles -----------------------*/

.text-large {
    font-size: var(--font-size-l);
    font-weight: 600; /* Semi Bold */
}

h1, h2, h3 {
    font-size: var(--font-size-m);
    font-weight: 600; /* Semi Bold */
}

p, li {
    font-size: var(--font-size-m);
    font-weight: 400; /* Regular */
}

small, figcaption {
    font-size: var(--font-size-s);
    font-weight: 500; /* Medium */
    display: block;
}

strong {
    font-weight: 600; /* Semi Bold */
}

p.font-alt {
    font-family: var(--font-alt);  /* EB Garamond */
    font-size: larger; /* ~19.2px */
    font-weight: 500; /* Medium */
}

/*----------------------- Main content -----------------------*/

article, main, article > header {
    margin: var(--unit-2x) auto var(--unit-4x); /* 48px top, 96px bottom */
}

section {
    margin: var(--unit-4x) auto; /* 96px top & bottom */
}

h1, h2, h3, p, ol, ul, div, figure {
    max-width: var(--line-length); /* 600px */
    margin-left: auto;
    margin-right: auto;
}

h2, figure {
    margin-top: var(--unit-2x);    /* 48px top */
    margin-bottom: var(--unit-2x); /* 48px bottom */
}

h3 {
    margin-top: var(--unit-2x);    /* 48px top */
    margin-bottom: var(--unit-1x); /* 24px bottom */
}

p, ol, ul {
    margin-bottom: var(--unit-1x); /* 24px bottom */
}

li:last-of-type p, div > p:last-of-type {
    margin-bottom: 0;
}

ol, ul {
    padding-left: 2rem; /* 32px */
}

.list-plain {
    list-style: none;
    padding-left: 0;
}

dfn {
    text-decoration: underline dotted;
}

img, video {
    width: 100%;
    object-fit: scale-down;
}

@media (max-width: 640px) {
    img.cover {
        min-height: min(calc(100vw - 32px), 25rem); /* 400px */
        object-fit: cover;
    }
}

hr {
    border: none;
    border-bottom: 1px solid var(--color-mid);
    max-width: var(--line-length);
    margin: 0 auto;
}

/*---------------------- Layout control ----------------------*/

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.color-mid {
    color: var(--color-mid);
}

.columns-2 {
    columns: 2;
    column-gap: var(--unit-1x);
}

.grid-col-2, .grid-col-asymmetric {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
}

@media (min-width: 664px) {
    .grid-col-2 {
        grid-template-columns: 1fr 1fr;
        gap: var(--unit-1x); /* 24px */
    }
    .grid-col-asymmetric {
        grid-template-columns: 8.25rem 1fr; /* 132px left column */
        gap: var(--unit-2x); /* 48px */
    }
}

.margin-0 { margin: 0; }

.margin-top-0 { margin-top: 0; }

.margin-top-1x { margin-top: var(--unit-1x); } /* 24px top */

.margin-bottom-0 { margin-bottom: 0; }

.margin-bottom-2x { margin-bottom: var(--unit-2x); } /* 48px bottom */

.margin-bottom-4x { margin-bottom: var(--unit-4x); } /* 96px bottom */

.margin-left-0 { margin-left: 0; }

.width-288 { max-width: 288px; }

.width-480 { max-width: 480px; }

.width-540 { max-width: 540px; }

.width-720 { max-width: 720px; }

.width-960 { max-width: 960px; }

.width-full { max-width: 100vw; }

/*-------------------- Navigation & links --------------------*/

body > header, footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--line-length);
    margin: var(--unit-1x) auto; /* 24px top & bottom */
}

a {
    color: var(--color-hi);
    text-decoration-color: var(--color-mid);
}

a:hover {
    text-decoration-color: var(--color-hi);
}

a.no-underline {
    text-decoration: none;
}

a.no-underline:hover {
    text-decoration: underline;
}

a.back {
    line-height: var(--unit-2x);
    text-align: center;
    text-decoration: none;
    width: 48px;
    transform: translateX(-16px);
    border-radius: 24px;
}

a.back:hover {
    background-color: var(--color-low);
}

a.logotype {
    height: var(--unit-2x);
    opacity: 0.8;
    transition: opacity 0.3s ease-in-out;
}

a.logotype:hover {
    opacity: 1;
}

.profile {
    border-radius: 100%;
    height: calc(3 * var(--unit-1x));
}